<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login Page</title>
        <link rel="stylesheet" href="../css/logincss.css" />
    </head>
    <body>
        <div class="container">
            <div class="login-box">
                <div class="login-title">Sign In</div>

                <div class="input-container">
                    <input type="text" class="input" placeholder="Username" />
                </div>

                <div class="input-container">
                    <input
                        type="password"
                        class="input"
                        placeholder="Password"
                    />
                </div>

                <div class="remember-me">
                    <input type="checkbox" class="checkbox" />
                    <span>Keep me signed in</span>
                </div>

                <button class="button">Sign In</button>

                <a href="#" class="forgot-password">Forgot your password?</a>
            </div>
        </div>
    </body>
</html>
